#asociados .shadow-effect {
  background: #2F5559;
  padding: 15px;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 19px 38px #0000001a, 0 15px 12px rgba(0,0,0,0.02);
}
#customers-asocia .shadow-effect p {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
  color: #fff;
}
#asociados .testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #40a9b4;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  font-weight: bolder;
  color: #ffffff;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-asocia .item {
  text-align: center;
  padding: 50px;
  opacity: .2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}
#customers-asocia .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}
#asociados .owl-carousel .owl-item img {
  transform-style: preserve-3d;
  margin: 0 auto 10px;
  border: 5px solid #2E3E40;
  width: 90px; 
  height: 90px; 
  object-fit: cover;
  object-position: 90% 0%;
}
#customers-asocia.owl-carousel .owl-dots .owl-dot.active span,
#customers-asocia.owl-carousel .owl-dots .owl-dot:hover span {
		    background: #40a9b4;
		    transform: translate3d(0px, -50%, 0px) scale(0.7);
		}
#customers-asocia.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-asocia.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
#customers-asocia.owl-carousel .owl-dots .owl-dot span {
  background: #2F5559;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}