
/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
	font-size: 13px;
    color: #a8a8a8;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

body .general> section {
    padding: 80px 0;
}

.section-title {
  margin: 0 auto 20px;
  width: 420px;

}

.section-title h2 {
  color: #1f2021;
  font-size: 30px;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-weight: bold;
}

/*.section-title h2:before {
  border-bottom: 1px solid #1f2021;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}*/

/*.section-title h2:after {
background: none repeat scroll 0 0 #fff;
border: 1px solid #1F2021;
border-radius: 25px;
bottom: -6px;
content: "";
height: 11px;
left: 50%;
margin-left: -5.5px;
position: absolute;
width: 11px;
}*/

.section-title p {
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
}

.btn {
    border-radius: 0;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
  background-color: #2E3E40;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 35px;
  border-radius: 12px;
}

.btn-blue:hover {
  background-color: #202020;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 35px;
}

.kill-margin {
    margin: 0 !important;
}

/*************************
*******Navigation******
**************************/

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
/*Borrable para transparente*/
#navigation{
  background-color: #2E3E40;
}
.animated-nav .navbar-brand {
  padding: 10px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 29px 25px;
}
.animated-nav .navigation .navbar-nav > li > .iconic {
  padding: 23px 10px;
}


#navigation > .container {
  border-bottom: 1px solid #2c3b3f;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

nav .navbar-brand a{
  background-color: #307b8c;
  padding: 8px;
  color: white;
  border-radius: 10px;
  
}

nav .navbar-brand a:hover{
  background-color: #36826d;
 
}

nav .navbar-brand a span{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.navbar-brand {
  height: inherit;
  padding: 30px 0;
}

.navbar-brand a {
  display: block; 
  margin-left: 10px;
  
}

.navigation .navbar-nav > li > a {
  color: white;
  font-size: 13px;
  /*font-weight: 600;*/
  padding: 38px 25px;
  text-transform: uppercase;
}
.navigation .navbar-nav > li > a:hover {
  color: #307b8c;
}

.navigation .navbar-nav > li > .iconic {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 38px 10px;
  text-transform: uppercase;
}

.navigation .navbar-nav .currentt {
  color: #ffffff;
  border-bottom: 1px solid #307b8c;
}
.navigation .navbar-nav .currentt a {
  color: #307b8c;
  font-weight: 600;
}

.animated-nav .navigation .navbar-nav > li.currentt > a {
  color: #307b8c;
  font-weight: 600;
  border-bottom: 2px solid #307b8c;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}

.search-form {
  position: relative;
}

.search-form > #search {
  width: 100%;
}

.search-form > #search {
  background-color: transparent;
  height: 40px;
    border: 0 ;
  margin-top: 28px;
  width: 100%;
}

.search-form > #search-sub {
  background: url("../img/icons/search.png") no-repeat scroll 0 0 transparent;
  border: 0 ;
  bottom: 11px;
  height: 15px;
  position: absolute;
  right: 8px;
  padding: 0;
  text-indent: -9999em;
  width: 15px;
}

.animated-nav .search-form > #search-sub {
    bottom: 22px;
}

/*************************
*******Main Slider******
**************************/


#home{
  padding:0;
  overflow: hidden;
  /*height: 961px;*/
}

#home{
  padding:0;
  overflow: hidden;
  
}


#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
#nav-arrows > a {
  /*border: 1px solid #fff;*/
  border-radius: 15px;
  color: transparent;
  display: block;
  height: 60px;
  line-height: 76px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 60px;
  z-index: 20;
  margin-top: -30px;

    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
#nav-arrows > a.arrowPrev {
  left: 50px;
}

#nav-arrows > a.arrowNext {
  right: 50px;
}
#nav-arrows > a.arrowPrev:hover , a.arrowNext:hover{
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}


.content_slider{
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
}
.content_slider div{
  text-align: center;
  position: relative;
  top: 15%;
}

.content_slider h2{
  font-family: 'arial';
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_slider .title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  max-width: 470px;
}
.content_slider #mail-submit {
  background-color: #307b8c;
  border: 0 none;
  color: #fff;
  padding: 10px 20px;
  right: 1px;
  top: 1px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.content_slider #mail-submit:hover {
  background-color: #36826d;
}


.content_slider p {
  font-size: 15pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 20px;
}
#slider li .content_slider{
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}
.content_slider{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider{
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(13, 13, 13, 0.55);
  border-radius: 15px;
  text-decoration: none;
  transition: .5s all;
}
.btnSlider:hover{
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #FFF  !important;
}

/*============================================================
    Services
============================================================*/
#service {
  background-color: #307b8c;
}

#service .section-title h2,p{
  color: #ffffff;
}

.services-mas #btn-mas {
  background-color: #2c3b3f;
  border: 0 none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin: auto;
}

.services-mas #btn-mas:hover {
  background-color: #262626;
  
 
}


/*#service .section-title h2:before {
  border-bottom: 1px solid #ffffff;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}*/

#service .content-service{

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  

}

#service .wow {
  justify-content: center;
  display: flex;
  min-width: 300px;
  max-width:370px;
  
}

#service .media a{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#service .services-mas{
  margin: 0 auto 85px;
}

#service .media img{
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
   
    
}

/*#service .media > .pull-left{
    margin-right: 50px;
}*/

#service .media .pull-left h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 5px;
    
}
#service .media:hover h3{
    color: #2c3b3f;
    font-weight: bolder;
}

#service .media .media-body p{
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
}

#service .media{
    padding-bottom: 30px;
    /*padding-left: 18%;*/
}
#service .services-mas{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}




.service-item {
    margin-bottom: 70px;
}

.service-icon {
  float: left;
  margin-top: 8px;
}

.service-desc {
    margin-left: 115px;
}

.service-item h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 28px;
}

.service-item p {
  line-height: 24px;
}


/*============================================================
    Service Bottom
============================================================*/

#service-bottom {
  background-color: #ffffff;
 
  height: auto;
}


.video-device iframe {

  border-radius: 12px;

  border:5px solid #307b8c;

}


.service-features {
  color: #2c3b3f;
 
}

.service-features h2 {
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 38px;
  text-transform: uppercase;
}

.service-features p {
  font-size: 16px;
  line-height: 20px;
  color: #2c3b3f;
  font-weight: 300;

}


.service-features #mail-submit {
  background-color: #307b8c;
  border: 0 none;
  color: #fff;
  padding: 10px 20px;
  right: 1px;
  top: 1px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.service-features #mail-submit:hover {
  background-color: #36826d;
}

/*============================================================
    Portfolio
============================================================*/
#portfolio .section-title p{
  color: #000;
}

#projects {
    width: 100%;
    margin-bottom: 5%;
}

.project-filter {
  margin-bottom: 40px;
}

.project-filter ul li {
  padding: 0;
}


#portfolio .services-mas {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.project-filter ul li a {
  color: #000;
  display: block;
  line-height: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.project-filter ul li a:hover,
.project-filter ul li a.active {
    background-color: #2E3E40;
    color: #fff;
}

.mix {
    display: none;
}

.portfolio-item {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
}

.plus {
  background: url("../img/icons/plus.png") no-repeat scroll center center #2E3E40;
  border-radius: 50%;
  display: block;
  height: 80px;
  left: 50%;
  margin: -40px 0 0 -40px;
  position: absolute;
  top: -41px;
  width: 80px;
    
    -webkit-transition: 0.3s ease-out 0s;
       -moz-transition: 0.3s ease-out 0s;
        -ms-transition: 0.3s ease-out 0s;
         -o-transition: 0.3s ease-out 0s;
            transition: 0.3s ease-out 0s;
}

figcaption.mask {
  background-color: #fff;
  bottom: -101px;
  left: 0;
  padding: 30px 0 30px 30px;
  position: absolute;
  width: 100%;
    
    -webkit-transition: 0.3s ease-out 0s;
       -moz-transition: 0.3s ease-out 0s;
        -ms-transition: 0.3s ease-out 0s;
         -o-transition: 0.3s ease-out 0s;
            transition: 0.3s ease-out 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
}

.portfolio-item:hover .plus {
    top: 30%;
}

figcaption.mask h3 {
  color: #1f2021;
  font-size: 20px;
  line-height: 28px;
}

figcaption.mask span {
  color: #2E3E40;
}

.services-mas #ver-mas {
  background-color: #307b8c;
  border: 0 none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin: auto;
}

.services-mas #ver-mas:hover {
  background-color: #36826d;

}
/*============================================================
   Asocia
============================================================*/

#asociados {

    overflow: hidden;
    background-color: #2E3E40;
    
}

#asociados .section-title{
  margin: 0 auto;
 
}
#asociados .section-title h2,p{
  color: #ffffff;
 

}



/*#asociados .section-title h2:before {
  border-bottom: 1px solid #ffffff;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
  
}*/

#testimonios {
  background-color: #f6f6f6;
}

#testimonios .section-title{
  margin: 0 auto 0px;
 

}
#testimonios .section-title h2,p{
  color: #202020;
  
}

/*#testimonios .section-title h2:before {
  border-bottom: 1px solid #202020;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}*/






/* Counter section */

#count {
  background-color: transparent;
  padding-bottom: 0px;
  padding:  0px 0; 
}
#count .fact-item p {
 
  margin: 10px;
  color: #fff;
  font-size: 10px;
  margin-bottom: 35px;
}


#count .counter-section .gris{
  background-color: #2E3E40;
}

#count .counter-section .verde{
  background-color: #35848C;
}


.fact-item {
  color: #fff;

}

.fact-icon {
  position: relative;
  width: 50px; 
  height: 28.87px;
  background-color: #1F2021;
  margin: 14.43px auto;
}
/*.fact-item .p{
  font-size: 80vw;
  color: #fff;
}
*/
.fact-icon:before,
.fact-icon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.fact-icon:before {
  bottom: 100%;
  border-bottom: 14.43px solid #1F2021;
}

.fact-icon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #1F2021;
}

.fact-icon > i {
  line-height: 27px;
}

.fact-item span {
  display: block;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  margin-top: 30px;

}

.fact-item p {
  font-weight: 300;
  margin: 10px;
  color: #fff;
 
}


/*============================================================
    About Us
============================================================*/

.subtitle {
  margin: 0 auto;
  width: 95%;
}

.subtitle h3 {
  color: #1f2021;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.subtitle p {
  line-height: 25px;
  margin-bottom: 65px;
}

.tst-single {
  margin-bottom: 40px;
}

.tst-single img {
  max-width: 100px;
  float: left;
}

.tst-content {
  border-bottom: 1px solid #a9a9a9;
  margin: 10px 0 0 160px;
  padding-bottom: 25px;
}

.tst-content p {
  color: #fff;
  line-height: 25px;
}

.tst-content span {
  float: right;
  font-style: italic;
  margin-right: 5px;
}

/* carousel navigation */

.owl-pagination {
  text-align: center;
}

.owl-controls .owl-page {
  cursor: pointer;
  display: inline-block;
}

.owl-controls .owl-page span {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ACACAC;
  display: block;
  height: 12px;
  margin: 5px 4px;
  width: 12px;
}

.owl-controls .owl-page.active span,
.owl-controls .owl-page:hover span {
  background-color: #2E3E40;
  border-color: #2E3E40;
}


/* progress bars */

.progress-bars > span {
  color: #1f2021;
  line-height: 24px;
  text-transform: uppercase;
}

.progress {
  background-color: #dbdbdb;
  border-radius: 0;
  box-shadow: none;
  height: 25px;
  margin-bottom: 25px;
}

.progress .bar {
  width: 0;
  height: 25px;
  background-color: #2E3E40;

  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
      -ms-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}


.progress .bar small { color:#fafafa; font-size:12px; }

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-success .bar, .progress-green .bar {
  background-color: #2E3E40;

}



/*=================================
    Quotes
===================================*/

#quotes {
    background-color: #ffffff;
}
#quotes .call-to-action h2:before {
  border-bottom: 1px solid #1F2021;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}

#quotes .call-to-action .title{
	font-size: 20px;
}

.call-to-action {
    color: #1F2021;
    font-weight: 600;
}

.call-to-action p {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
    color: #1F2021;
}



/*============================================================
    Pricing
============================================================*/

.pricing-table {
  color: #1f2021;
  font-size: 16px;
  line-height: 24px;
}

.pricing-table .price {
  /*border-top: 1px solid #2c3b3f;
  border-bottom: 1px solid #2c3b3f;*/ /* aqui*/
  padding: 15px 15px 15px;
}

.pricing-table .plan {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

.pricing-table .value {
  font-size: 13px;
  font-weight: 600;
}

.pricing-table .value > small {
  font-size: 20.33px;
  margin-right: 15px;
  position: relative;
  top: -27px;
}

.pricing-table .value > strong {
  font-size: 59.48px;
  margin-right: 10px;
  line-height: 69.22px;
}

.pricing-table ul {
  border-bottom: 1px solid #2E3E40;
  border-top: 1px solid #2E3E40;
}

.pricing-table ul li {
  margin: 20px 0;
  padding-bottom: 20px;
  position: relative;
}

.pricing-table ul li:after {
  border-bottom: 1px solid #2E3E40;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: -65px;
  position: absolute;
  width: 130px;
}

.pricing-table ul li:last-child:after {
  border-bottom: none;
}

.pricing-table ul li:last-child {
  margin-bottom: 0;
}

.btn-price {
  border: 1px solid #307b8c;
  background-color: #307b8c;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 25%;
  padding: 10px 30px;
  border-radius: 12px;
}

.btn-price:hover {
  border: 1px solid #2c3b3f;
  background-color: #2c3b3f;
  color: #fff;
  margin-top: 10px;
  padding: 10px 30px;
}

/*.special-plan {
  margin-top: 100px;
}*/

#pricing .special-plan a:hover{
  color: #fff;
  background-color: #394f55;
}

.special-plan p {
  font-size: 20px;
  margin-bottom: 35px;
  color: #1f2021;
}

#pricing .content-service{

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#pricing .pricing-table .price {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#pricing .price img{

  /*margin-top: 5px;*/
  width: 60px;
  height: 60px;
  
}

#pricing .price .name-ser{
  height: 60px;
  padding: 0!important;
  margin-bottom: -10px;
}


#pricing .content-service .wow {
  justify-content: center;
  display: flex;

}
/*============================================================
    clients
============================================================*/
#clients {
  background-color: #ffffff;
  color: #fff;
  line-height: 24px;
}

#clients .section-title h2,p{
  color: #202020;
  
}

/*#clients .section-title h2:before {
  border-bottom: 1px solid #202020;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}*/

#clients img{
  width: 55%; 
  height: 30%; 
  margin: auto;
  border-radius: 12px;
}






/*============================================================
    Media Queries
============================================================*/

#subscribe {
  background-color: #2E3E40;
  color: #fff;
  line-height: 24px;
}

#subscribe h2 {
 font-weight: bold;
 margin-bottom: 20px;
 text-align: center;
}

.subscription-form {
  color: #fff;
  position: relative;
}

.subscription-form i {
  left:30px;
  position: absolute;
  top: 22px;
}

.subscription-form .subscribe {
  background-color: transparent;
  border: 2px solid #35848C;
  border-radius: 12px;
  color: #fff;
  height: 58px;
  text-indent: 60px;
  width: 100%;
}
.subscription-form .input-field  {
  margin-bottom: 15px;
  
}

.subscription-form #mail-submit {
  background-color: #202426;
  border: 0 none;
  color: #fff;
  padding: 19.5px 15px;
  position: absolute;
  right: 17px;
  top: 2px;
  border-radius: 10px;

}

.subscription-form #mail-submit:hover {
  background-color: #282d30;
}


/*============================================================
    Contact Us
============================================================*/

#contact .description_p{
  color: #1f2021;
}
#contact .maps > iframe{
  border-radius: 12px;
}
.contact-form .input-field {
  margin-bottom: 30px;
}

.contact-form .form-control {
  border: 1px solid #91c4cf;
  padding: 20px;
  border-radius: 12px;
  height: 58px;
  box-shadow: none;
}

.contact-form .message .form-control {
  height: 198px;
}

.contact-form .form-control::-moz-placeholder {
  color: #1f2021;
}

.contact-form #msg-submit {
  font-size: 13px;
  padding: 17px 50px;
  border-radius: 12px;
  margin-bottom: 5%;
  background-color: #202426;
  color: #fff;
  
}
.contact-form #msg-submit:hover {
  background-color: #282d30;
  color: #ffffff;
}

.contact-details {
  max-width: 345px;
  border: 2px dashed #91c4cf;
  border-radius: 12px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 10%;
}

.contact-details > span {
  color: #1f2021;
  display: block;
  margin-bottom: 35px;
}
.contact-details > p {
  color: #1f2021;
}



/*============================================================
    Footer
============================================================*/

#footer {
    background-color:#262626;
    padding: 20px;
}
.single_footer{
  padding: 0px 0px 0px 0px;
}
.single_footer h2{
  font-size:32px;
  color:#0f5f5c;

}
.single_footer li a{
  font-size:13px;
  color:#83a7a5;
}


.footer-logo {
    margin-bottom: 25px;
    margin-top: 15px;
}

.footer-social {
    margin-bottom: 15px;
}

.footer-social h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-social h3:after {
  border-bottom: 1px solid #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  width: 230px;
}

.footer-social ul li a {
  color: #fff;
  display: block;
  margin: 0 8px;
}

.footer-social ul li a:hover {
  color: #2E3E40;
}

.copyright {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.copyright a {
    color: #2E3E40;
}

.copyright a:hover {
  color: #fff;
}



/*.copyright p:first-child {
  margin-bottom: 15px;
}*/

.direc{
  margin-top:  23px;
}
.direc i{
  font-size: 15px;
  color: #fff;
}
.direc span{
  font-family: 'Open Sans', sans-serif;
}


.g-radius--circle {
  border-radius: 50% !important;
}
.s-swiper__arrow-v1--left {
  left: 2rem;
}
.s-swiper__arrow-v1--left, .s-swiper__arrow-v1--right {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.s-icon--white-brd {
  color: #fff;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #fff;
  line-height: 1.4;
}
.s-icon--md {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.125rem;
  padding: 0.75rem;
}
.s-icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*-------------Nosotros----------*/

#nosotros{
  padding-bottom: 0;
}

#nosotros .section-title {
  margin: 0 auto 50px;
  width: 58%;
}
#nosotros .section-title h2,p{
  color: #2E3E40;
}

#service-bottom1{
  background-color: #ffffff;
  height: auto;
  padding: 0;
}
#service-bottom1 .service-features h2 {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

#service-bottom1 .service-features p {
  font-size: 16px;
  line-height: 20px;
  color: #2c3b3f;
  font-weight: 300;

}

/*---Detalle blog*/
#detalle{
  padding-top: 5%;
  padding-bottom: 0;
}

#detalle .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumbs .breadcrumb.breadcrumb--ys {
  display: inline-block;
  background-color: transparent;
  padding: 15px 0 10px;
  border-radius: 0;
  margin: 0;
  margin-bottom: 2%;
}


/*.breadcrumbs .breadcrumb.breadcrumb--ys > li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 10px;
}
*/
.breadcrumbs .breadcrumb.breadcrumb--ys a{
  color: #36826d;
  margin-right: 10px;
  font-size: 13px;
}

.breadcrumbs .breadcrumb.breadcrumb--ys > li a:hover {
  text-decoration: none;
  color: #2c3b3f;
}

.breadcrumbs .breadcrumb.breadcrumb--ys  li{
  margin-bottom: 10px;
  font-size: 12px;
}

.breadcrumbs .breadcrumb.breadcrumb--ys > li:first-child {
  padding-left: 0;
}
.breadcrumbs .breadcrumb.breadcrumb--ys > li + li:before {
  /* display: block; */
  /* position: absolute; */
  /* left: 0; */
  /* width: 1px; */
  /* height: 19px; */
  border-left: 1px solid #e5e5e5;
  content: "";
}
.breadcrumbs .breadcrumb.breadcrumb--ys > .active {
  color: #333333;
  text-transform: uppercase;
}

#detalle .section-title {
  margin: 0 auto 85px;
  width: 80%;
}
#detalle .section-title h2,p{
  color: #2E3E40;
}


/*---Detalle blog*/
#team-bottom{
  background-color: #ffffff;
  height: auto;
  /*padding: 0;
  padding-bottom: 5%;
  margin-top: 5%;*/
}
#team-bottom .service-features h2 {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

#team-bottom .service-features p {
  font-size: 13px;
  line-height: 20px;
  color: #2c3b3f;
  font-weight: 300;

}
#team-bottom .team_title{
  padding: 17px;
  border-top-left-radius: 30px;
}
#team-bottom .team_title .red{
  background-color: #307b8c;
  color: #ffffff;
  border-radius: 12px;
}
#team-bottom .team_title a{ 
  color: white;
}
#team-bottom .team_title a:hover{ 
  color: #252525;
}

#team-bottom .team_title h2{
  font-weight: 500;
  font-size: 40px;
  color: #307b8c;
}

#team-bottom .team_title span{
  font-size: 16px;
}

.video-device img {
  border-radius: 12px;

  border:5px solid #307b8c;

}

#element {
  background-color: #307b8c;
  border-radius: 12px;
}

#close a{
  color: white;
}

#close a:hover {
  color: red;
}
#count-about{
  padding: 0px 0;
}
#count-about, #icon-service ,#sectores{
  padding: 20px 0;
}

#count-about .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#count-about .c1{
  background-color: #307b8c;
}
#count-about .c2{
  background-color: #27606B;
}
#count-about .c3{
  background-color: #17383F;
}
#count-about .c4{
  background-color: #757575;
}
#count-about .c5{
  background-color: #5D97A3;
}

#count-about .item-list{
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8125rem;
  margin-right: 0.875rem;
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  border-radius: 10px;
}
/*#count-about .item-list:hover{
  background-size: 240%;
  transition: .2s ease-in all;
}*/

#count-about .item-list .valor{
  font-size: 10.25rem;
  margin-top: 30px;
}

#count-about .item-list p{
 font-size: 3rem;
 font-weight: 500;
 margin-top: 30px;
}




#working .contact-form .input-field .inputDnD .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 5.7em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  color: #91c4cf;
  /*background-color: #c61c23;*/
  box-shadow: 0 0 5px solid currentColor;
}
#working .contact-form .input-field .inputDnD .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 100%;
  min-height: 6em;
  line-height: 2em;
  padding-top: 1.5em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 2px dashed currentColor;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
#working .contact-form .input-field .inputDnD .form-control-file:hover:before {
  border-style: solid;
  box-shadow: inset 0px 0px 0px 0.25em currentColor;
}

#working .contact-form .input-field .btn-primary {
  color: #fff;
  background-color: #91c4cfaf;
  border-color: #91c4cfaf;
  border-radius: 12px;
}
#working .contact-form .input-field .btn-primary:hover {
  color: #fff;
  background-color: #91c4cf;
  border-color: #91c4cf;
}

#service-color .img-responsive{
border: 5px solid #307b8c;
border-radius: 12px;
margin-bottom: 25px;
width: 422px; 
height: 225px;
}

#service-color .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#service-color .c1{
  background-color: #307b8ccc;
}
#service-color .c2{
  background-color: #38808ecc;
}
#service-color .c3{
  background-color: #5d97a3cc;
}
#service-color .c4{
  background-color: #17383fcc;
}
#service-color .c5{
  background-color: #505050cc;
}
#service-color .c6{
  background-color: #757575cc;
}
#service-color .c7{
  background-color: #3F0A0Acc;
}
#service-color .c8{
  background-color: #682525cc;
}
#service-color .c9{
  background-color: #893030cc;
}

#service-color .contact-form .message .form-control {
  height: 120px;
}
#service-color .contact-form .input-field {
  margin-bottom: 15px;
}
#service-color .item-list{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 360px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8125rem;
  margin-right: 0.875rem;
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  border-radius: 12px;
  transition: .2s ease-in all;
  /*position: relative;*/
}

#service-color .item-list:hover{
  background-clip: content-box;
  border-radius: 0px;
  height: 300px;
  transition: .2s ease-in all;
  /*text-transform: capitalize;*/
}

#service-color .item-list:hover .des{
  display: block;
}

#service-color .item-list .item-list--icon{
  max-width: 65px;
  /*margin-right: 1.6875rem;*/
}

#service-color .des{
  font-size: 12px;
  display: none;
}

#service-color .item-list p{
  line-height: 1.2;
  letter-spacing: -.01rem;
  margin-bottom: 0;
  color: white;
  padding: 0px;
  font-size: 13px;
}


/*#service-color .item-list .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-bottom {
top: 105%;
left: 50%;  
margin-left: -60px;
}

.tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}


#service-color .item-list:hover .tooltiptext {
visibility: visible;
opacity: 1;
}*/

#Landing .content_slider div {
  text-align: center;
  position: relative;
  top: 0;
}
#Landing li .content_slider {
  padding: 0;
}
#contact .landing-form {
  background-color:  #307b8c;
  border-radius: 12px;
}
#contact .landing-form .loginform {
  padding: 10px
}
#contact .input-field{
  margin-bottom: 15px;
}

#contact .input-field .titulo, .termino{
  color: #fff;

}
#contact .video .vid{
  border: 5px solid #307b8c;
  border-radius: 12px;
  height: 36.8rem;
}
.landing-form .form-control {
  border: 1px solid #91c4cf;
  padding: 20px;
  border-radius: 12px;
  height: 50px;
  box-shadow: none;
}
.landing-form #msg-submit{
  font-size: 13px;
  padding: 17px 50px;
  border-radius: 12px;
  margin-bottom: 5%;
  background-color: #202426;
  color: #fff;
}

.col-sm-3{
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

#nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border-radius:0;
  background-color: #f6f6f6;
}
#nav .dropdown-item {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#nav .dropdown-item:hover {
  color: #fff;
  background-color: #2E3E40;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 12px;
  right: -8px;
  content: '';
}


#contact .input-field .g-recaptcha div{
  width: 100%;
}

#contact .input-field .g-recaptcha iframe{
  width: 100%;
}
@media screen and (max-width: 460px){
  .content_slider h2 {
      font-size: 15pt !important;
  }
  .content_slider p {
      font-size: 12pt !important;
  }
  
  #nav-arrows > .arrowPrev{
    left: 50px;
  }
  
  #nav-arrows > .arrowNext{
    right: 50px;
  }
  
  /*#slider{
    height: 400px;
    min-height: 400px;
  }*/
  #slider li .content_slider{
    padding: 10px 35px;
  }
  .btnSlider{
    padding: 10px 30px;
      font-size: 10pt;
  }
  
  /*#count {
    background-color: transparent;
    padding-bottom: 0px;
    padding: 0px 0;
    margin-top: -90%;
  }*/
  
  #team-bottom .team_title h2 {

    font-size: 23px;
  }
  #team-bottom .team_title span {
    font-size: 13px;
  }
  #nav .dropdown:hover .dropdown-menu {
    display:contents;
  }
  .dropdown-menu {
    display: contents;
    margin-top: 0;
    border-radius:0;
  }
  #nav .dropdown-item {
    display: flex;
    width: 100%;
    padding: 1rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: #262626;
    padding-left: 12%;
  }
  
  }
  


