{% extends 'app/base.html' %}

{% block title %} 
Error 404 | No se encontro pagina
{% endblock %}


{% load static %}

{% block contenido %}
<section id="home">
    <ul id="slider">
        <li
            style="background-image: url('{% static 'app/img/banner_404.jpg' %}'); z-index:0; opacity: 1;">
            <div class="content_slider">
                <div>
                    <h2 class="wow fadeInLeft">Error 404</h2>
                    <p class="wow fadeInRight">Comuniquese con el encargado</p>
					<br>
					<a class="wow fadeInUp" href="{% url 'index' %}" style="font-size:15px;border: 3px solid white;padding:5px;border-radius:50px;color: white;">Volver al Home</a>

                </div>
            </div>
        </li>
    </ul>
</section>

{% endblock %}